/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-img-page: url(../images/cover-image-light.png);
  --bg-block-title: #ff8dcb;
  --accent-color: #ff8dcb;;
  --color-logo: #ffc2e6;
  --color-title-block: #353430;
  --color-text-block: #353430;
  --nav-color: #353430;
  --nav-color-hover: rgb(53, 52, 48, 0.4);
}

.theme-light .header__rec {
    display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img-page: url(../images/cover-image-light.png);
    --bg-block-title: #ff8dcb;
    --accent-color: #ff8dcb;;
    --color-logo: #ffc2e6;
    --color-title-block: #353430;
    --color-text-block: #353430;
    --nav-color: #353430;
    --nav-color-hover: rgb(53, 52, 48, 0.4);
  }
  
  .header__rec {
    display: none; 
  }
}


