/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  /* padding: 0 var(--padding-page); */
  background-image: var(--bg-img-page);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  padding: var(--padding-page);
  margin-block-end: var(--gap-page);
 }

.header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  inline-size: 52px;
  block-size: 26px;
  gap: 10px;
  inset-block-start: var(--padding-page);
  inset-inline-end: 19px;
  color: #ff0070;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
}

.header__rec::after {
  content: "";
  display: block;
  border-radius: 100%;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: var(--padding-page);
  inset-inline-end: var(--padding-page);
  border-block-start: 1px solid var(--nav-color);
  border-inline-end: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-start: var(--padding-page);
  inset-block-end: var(--padding-page);
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  /* inline-size: 70px;
  block-size: 98px; */
  justify-items: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 11px;
}

.header__theme-menu-button {
  color: var(--nav-color);
  font-weight: 400;
  font-size: 18px;
  padding: 3px 13px;
  line-height: 100%;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-color-hover);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
 }

.header__logo {
  font-weight: 700;
  line-height: 82.5%;
  font-size: var(--size-logo-header);
  color: var(--color-header-logo);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.text-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  min-inline-size: 355px;
  max-inline-size: 491px;
  min-block-size: 70px;
  max-block-size: 117px;  
}

.title-decor {
  color: var(--color-title-block);
  background-color: var(--bg-block-title);
}

.content {
  display: grid;
  padding: 0 var(--padding-page, 10px);
  gap: var(--gap-main);
  margin-block-end: var(--gap-page);
}

.content__section {
  display: grid;
  gap: var(--gap-section);
}

.content__section__image-gap {
  gap: var(--gap-block);
}

.section {
  display: grid;
  gap: var(--gap-section)
}

.section__title {
  font-weight: 700;
  line-height: 130%;
  font-size: 18px;
  color: var(--bg-block-title);
}

.text-blocks {
  display: grid; 
  gap: var(--gap-section);
}

.text-block {
  display: grid;
  gap: var(--gap-block);
}

.text-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.text-block__description {
  font-size: 18px;
  line-height: 130%;
  color: var(--color-text-block)
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--color-text-block);
}

.text-weight {
  font-weight: 400;
}

.gallery__images {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  align-items: center;
  justify-items: center;
}

.footer__logo {
  font-weight: 700;
  line-height: 83%;
  font-size: var(--size-logo-footer);
  color: var(--color-header-title);
  text-shadow: 2px 2px 0 var(--accent-color);
}


@media(width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    justify-items: normal;
  }

  .header__rec {
    inset-inline-end: 29px;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    justify-items: end;
  }

  .header__logo {
    grid-column: 1 / 3;
    position: relative;
    inset-inline-start: calc(-1* var(--padding-page));
  }

  .text-header {
    grid-column: 2;
    grid-row: 3;
  }

  .why {
    grid-template-columns: 1fr 2fr;
  }

  .why .section__title {
    grid-column: 1;
  }

  .why .text-blocks {
    grid-column: 2;
  }

  .what {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
  }

  .what .section__title {
    grid-column: 1;
    grid-row: 1;
  }

  .what .text-blocks {
    grid-column: span 2;
    grid-row: 2;
  }

  .how {
    grid-template-columns: 1fr 2fr;
  }

  .content__section__image-gap {
    gap: var(--gap-section);
  }

  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, 1fr);
  }

  .gallery-grid .text-block__title {
    grid-column: 3 span;
    grid-row: 1;
  }

  
}