/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono";
  --size-logo-header: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --size-logo-footer: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --padding-page: 10px;
  --gap-page: 40px;
  --gap-content-sections: 50px;
  --gap-section: 20px;
  --gap-block: 10px;
  --gap-images: 10px;
  --bg-color-page: #000028;
  --bg-img-page: url(../images/cover-image-dark.png);
  --bg-block-title: #ff0070;
  --accent-color: #ff0070;
  --color-logo: #DB00FF;
  --color-title-block: #000028;
  --color-text-block: #F1B2CE;
  --nav-color: #ff0070;
  --gap-nav-menu: 10px;
  --nav-color-hover: rgb(255, 0, 112, 0.4);
}

@media(width >= 768px) {
  :root {
    --size-logo-header: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --size-logo-footer: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --padding-page: 20px;
    --gap-content-sections: 80px;
    --gap-page: 60px;
    --gap-images: 20px;
  }
}
